<div id="container">
  <div id="container-user">
    <div class="user-properties">
      <div class="name">
        {{ user.name }}
      </div>
      <div class="all-about-user">
        <div class="user-short-info">
          <div id="image-profile">
            <img
              src="https://media.istockphoto.com/photos/close-up-profile-young-african-womans-face-painting-traditional-make-picture-id1023344322"
            />
          </div>
          <div id="short-discribe">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
            vulputate non metus vel blandit. Ut dignissim auctor semper. Nullam
            euismod ornare orci vel sodales. Duis gravida dui nibh, eget commodo
            tortor ornare nec.
          </div>
        </div>
        <div class="user-data">
          <div class="property">
            email
            <span>{{ user.email }}</span>
          </div>
          <div class="property">
            phone number
            <span>{{ user.phone }}</span>
          </div>
          <div class="property">
            Address
            <div class="address-properties">
              <div id="suite">
                <span>{{ user.address.suite }}</span>
              </div>
              <div id="street">
                <span>{{ user.address.street }}</span>
              </div>
              <div id="city">
                <span>{{ user.address.city }}</span>
              </div>
              <div id="zipcode">
                <span>{{ user.address.zipcode }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-back-home-btn></app-back-home-btn>
    </div>
  </div>
  <div id="container-posts">
    <div class="post-intro">Posts</div>
    <div id="post-container">
      <div class="post-title">
        title
      </div>
      <div class="post-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate
        non metus vel blandit. Ut dignissim auctor semper. Nullam euismod ornare
        orci vel sodales
      </div>
    </div>

    <div id="post-container">
      <div class="post-title">
        title
      </div>
      <div class="post-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate
        non metus vel blandit. Ut dignissim auctor semper. Nullam euismod ornare
        orci vel sodales
      </div>
    </div>
  </div>
</div>
